.navbar{
    margin:0;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px;
}

.name{
    font-size: 20px;
    padding: 9px;
}

.title{
    margin: 0;
}

.bottons{
    display: flex;
    align-items: center;
    justify-content: center;
}


ul{
    list-style: none;
}

a{
    background-color: black;
    color: white;
    border: 1px solid black;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.options{
    padding: 10px;
    margin: 0 0 0 100px;
}

.options > li{
    float:left;
}

.element:hover{

    background-color: white;
    color: black;
    border: 1px solid black;
    
}

.sub{
    display: none;
    position: absolute;
    
}

.options li:hover > ul{

    display: block;

}

.list{
    border: 1px solid white;
}